body, html {
	background-color: #000000;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
}
body {
	padding-top: 15%;
}
div.center {
    width: 400px; /* ������ �������� � �������� */
	height: 100px;
    padding: 40px; /* ���� ������ ������ */
    margin: auto; /* ����������� �� ������ */
    background: #2C446A; /* ���� ���� */
	text-align: center;
}
div.zaglavnaya { 
    text-transform: capitalize; /* ������ ����� ���������� � ��������� ����� */
}
div.bigtext {
	text-transform: uppercase;
}
span.twist {
	font-size: 14px;
	font-style: italic;
	font-weight: 800;
	text-decoration: underline;
	text-transform: capitalize;
}
span.textblue {
	color: #99ccff;
}
p.whitext {
	color: #ffffff;
}
